{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:react-hooks/recommended"
      ],
    "plugins": ["@typescript-eslint", "eslint-plugin-node", "prettier", "react", "import", "jsx-a11y","typescript"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "rules": {
        "react/prop-types": 0,
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "linebreak-style": 1,
        "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": false }],
        "eol-last": 2,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "react/display-name": "off",
    },
    "globals": {
        "$": true,
        "ga": true,
        "__ENV__": true,
        "__DEVTOOLS__": true,
        "PUBLIC_URL": true
    },
    "settings": {
        "import/resolver": {
            "node": {
              "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
          "version": "detect"
        }
    }
}
