{
    "parser": "@babel/eslint-parser",
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended"
      ],
    "plugins": ["react", "import", "jsx-a11y"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "rules": {
        "react/prop-types": 0,
        "indent": ["error", 2],
        "linebreak-style": 1,
        "quotes": ["error", "double"],
        "eol-last": 2
    },
    "globals": {
        "$": true,
        "ga": true,
        "__ENV__": true,
        "__DEVTOOLS__": true,
        "PUBLIC_URL": true
    },
    "settings": {
        "react": {
          "version": "detect"
        }
    }
}
